@page

<hr />
<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagens/carousel11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/carousel12.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/carousel13.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr />

<div class="hstack gap-3">
    <div class="card" style="width: 18rem;">
  <div class="card-header">
        LANCHES E BEBIDAS
  </div>    
  <ul class="list-group list-group-flush">
            <li class="list-group-item">X-Bacon R$18.00</li>
            <li class="list-group-item">Suco de Laranja 1L R$8.00</li>
            <li class="list-group-item">X-Tudo R$26.00</li>
            <li class="list-group-item">Coca-Cola 2L R$12.00</li>
            <li class="list-group-item">Hamburguer R$20.00</li>
            <li class="list-group-item">Suco de Laranja N 1L R$7.00</li>
  </ul>
</div>
    <div class="card" style="width: 18rem;">
        <img src="~/imagens/carousel14.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Também vendemos bebidas!!!</p>
        </div>
    </div>
   </div>